<div class="row">
  <div class="col-12 col-md-4">Rechercher par nom :</div>
  <div class="col-12 col-md-4"><input type="text" class="form-control" id="search" [value]="nameSearch" #saisie
      (change)="nameChange(saisie.value)"></div>
  <div class="col-12 col-md-2"><input type="button" class="btn btn-outline-secondary" value="Rechercher"
      (click)="searchByName()"></div>
</div>

<div class="row pt-3" *ngFor="let m of listeMatricules | async">
  <div class="col-12 offset-4">
      <li><input type="button" class="btn btn-outline-secondary" [value]="m" (click)="detailsCollegue(m)"></li>
  </div>
</div>
